# .github/workflows/release-branch.yml

name: Update Release Branch

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  update-release-branch:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main branch
        uses: actions/checkout@v3

      - name: Setup Git
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - name: Create or Update Release Branch
        run: |

          git fetch origin release || true

          git checkout -b release origin/release || git checkout -b release main

          # Remove the old files if they exist on the release branch
          git rm -f main.js manifest.json styles.css || true

          # Checkout files from the 'main' branch
          git checkout main -- manifest.json styles.css

          # Add the updated files
          git add manifest.json styles.css

          # Check if there are any changes to commit
          git diff --quiet --exit-code --cached || git commit -m "Update files from main"

          # Push the 'release' branch to the remote repository.
          git push origin release --force-with-lease
